@font-face {
  font-family: Barlow;
  src: url(../fonts/Barlow-Regular.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/Barlow-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/Barlow-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/Barlow-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}